<form action="/auth/login" method="post">
    <h2>Login</h2>
    <% if (errors.length > 0) { %>
      <ul>
        <% errors.forEach((err) => { %>
          <li><%= err %></li>
        <% }) %>
      </ul>
    <% } %>
    <label for="username">
      <input type="text" name="username">
    </label>
    <label for="password">
      <input type="password" name="password">
    </label>
    <button type="submit">Login</button>
  </form>