<form action="/auth/register" method="post">
    <h2>Register</h2>
    <% if (errors.length > 0) { %>
      <ul>
        <% errors.forEach((err) => { %>
          <li><%= err %></li>
        <% }) %>
      </ul>
    <% } %>
    <label for="username">
      Username
      <input type="text" name="username">
    </label>
    <label for="password">
      Password
      <input type="password" name="password">
    </label>
    <button type="submit">Register</button>
  </form>