<div>
  <form 
    method = "POST"
    action = "/:id?_method=DELETE">
            
        <label for="name"><%= group.name ></label>
        <input type = "text" name = "name" id = "name">

        <!-- <label for="description">Description</label>
        <input type = "text" name = "description" id = "description">

        <label for="created_by">Creator</label>
        <input type = "text" name = "created_by" id = "created_by"> -->
        
        <button type="submit">Delete Group</button>
      
  </form>
</div>