

<div>
  <form 
    method = "POST"
    action = "/groups">
      
      <label for="name">Group</label>
      <input type = "text" name = "name" id = "name">
      
      <label for="description">Description</label>
      <input type = "text" name = "description" id = "description">

      <label for="created_by">Creator</label>
      <input type = "text" name = "created_by" id = "created_by">
      
      <input type="submit" value = "Create a group!">

  </form>
</div>
  
