<div>
    <form
        method="POST"
        action="/comments"
        id="commentform">
        
        <textarea placeholder="create comment here" row="4" cols="30" form="commentform" name="content"></textarea><br />
        <label for="url">Url:</label>
        <input type="text" name="url" id="url">
    
    </form>
</div>