<article class="media box">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="http://via.placeholder.com/64x64">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= comment.author %></strong> <small>@shawn</small> <small>31m</small>
              <br>
              <span class="quote"><%= comment.content %></span>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="tags">
              <a class="tag" href="/tags/xyz">One</a>
              <a class="tag" href="/tags/xyz">Two</a>
              <a class="tag" href="/tags/xyz">Three</a>
            </div>
          </nav>
        </div>
      </article>