body {
    font-family: 'Open Sans', sans-serif;
  }
  
  h1,h2,h3,h4,h5,h6 {
   font-family: 'Montserrat', sans-serif;
  }
  
  span.quote{
    font-style: italic;
  }
  #insta_logo,
  .navbar-brand a.navbar-item {
    font-family: 'Cookie', cursive;
    font-size: 3em;
  }
  
  #insta_logo.larger {
    font-size: 5.3em;
    text-shadow: 2px 2px #929191cf;
  }
  
  .navbar.is-link {
    background: linear-gradient(0.15turn, #3273dc, 80%, tomato);
  }
  
  a.navbar-item {
    margin-right: 1em;
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
  }
  
  
  .flex-metro-box {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  input[type="checkbox"]:checked+label.button {
    background-color: #aaa;
    color: white;
  }
  