<%- include('../partials/header') %>

<div>
  <h2>Users:</h2>
    <ul>
      <% user.forEach((u) => { %>
      <li><%= u.username %></li>
      <% }) %>
   </ul>
</div>

<%- include('../partials/foot') %>